<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sys.ldk">

    <!-- 振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/user_ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/user_ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".serverset.Permission" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".clock.AddclockActivity" />

        <!-- 注册服务 process:将service放在独立的进程中 -->
        <service
            android:name=".clock.ClockService"
            android:enabled="true"
            android:exported="true"
            android:process=":clockservice" />

        <service
            android:name=".serverset.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":clockservice" />

        <service
            android:name=".serverset.MainService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".app.Startapp"
            android:enabled="true"
            android:exported="true" />

        <!-- 注册广播 -->
        <receiver
            android:name=".clock.ClockReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <receiver
            android:name=".app.StartAppReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".shellService.ShellActivity" />

        <activity android:name=".MainActivityTest" />

        <service
            android:name=".MainAccessService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>